.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.pokemon-card p {
    margin-top: 1rem;
    font-weight: bold;
}

.search-input {
    width: 100%;
    /* Full width */
    max-width: 600px;
    /* Maximum width */
    padding: 10px;
    margin: 1rem auto;
    /* Center the input */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    /* This ensures the input doesn't inline with other elements */
}

/* Responsive design */
@media (max-width: 768px) {
    .search-input {
        /* Full width */
        width: 80%;
        margin: 10px;
        /* Adjust margin for smaller screens */
        padding: 8px;
    }
}